@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}

.navbar {
  border: none;
  font-family: "Roboto", sans-serif;
}

#site-title {
  padding-top: 100px;
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: rgb(238, 238, 238);
  font-family: "Helvetica Neue", "Roboto", sans-serif;
  height: 800px;
}

#container {
  width: 360px;
  overflow-y: auto;
  margin: 0px auto;
  background-color: rgb(228, 241, 254);
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
}

#main-container {
  width: 320px;
  height: 350px;
  overflow-y: auto;
  margin: 0px auto;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
  color: #000;
}
ul {
  padding: 0;
}

#controller {
  width: 100%;
  height: 100px;
  margin: 0px auto;
  margin-top: 7px;
}

.form-control {
  border: none;
  width: 100%;
}

input {
  margin: 5px;
  resize: none;
  padding: 10px;
  font-size: 14px;
}

#send {
  float: right;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  color: #1289fe;
  border: 1px solid blue;
}

.gif-container {
  max-width: 150px;
  height: 100px;
  border-radius: 4px;
  display: flex;
  float: left;
}

.bubble {
  margin-top: 5px;
  width: 75%;
  border-radius: 15px;
  padding: 10px 20px 10px 20px;
  display: flex;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.user-input {
  float: right;
  background-color: #1289fe;
  color: #fff;
}

.bot-output {
  float: left;
  background-color: #e5e5ea;
  color: #000;
}
.li {
  width: 100%;
  padding: 10px;
  background-color: #e4f1fe;
  margin-bottom: 5px;
  border-radius: 12px;
}

.message-here {
  width: 100%;
}
.user-time {
  width: 100%;
  font-size: 10px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
